<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Map Species Distribution Time Slicer</title>
  <!-- CSS  -->
  <script src="/js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <link href="/css/main.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/leaflet.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <script type="text/javascript">
      $(document).ready(function()
      {
          var map = new mapper('map');
          $('#submitbutton').click(function(e){
                  e.preventDefault();

              var genus = document.getElementById("genus").value;
              var family = document.getElementById("family").value;
              var species = document.getElementById("species").value;
              var initial_date = document.getElementById("initial_date").value;
              var end_date = document.getElementById("end_date").value;
              var years = document.getElementById("years").value

              if(initial_date =="" && end_date=="") {
                  alert("Please enter a date range.")
                  return false;
              }
              
              var q = {"genus":genus, "family":family, "specificepithet":species};
              
              map.query(q, [initial_date,end_date],parseInt(years));

          });


              $( "#initial_date" ).datepicker({
                  dateFormat: 'yy-mm-dd',
                  yearRange: "1900:2015",
                  defaultDate: "+1w",
                  changeMonth: true,
                  changeYear: true,
                  numberOfMonths: 5,
                  onClose: function( selectedDate ) {
                      $( "#initial_date" ).datepicker( "option", "minDate", selectedDate );
                  }
              });
              $( "#end_date" ).datepicker({
                  dateFormat: 'yy-mm-dd',
                  yearRange: "1900:2015",
                  defaultDate: "+1w",
                  changeMonth: true,
                  changeYear: true,
                  numberOfMonths: 5,
                  onClose: function( selectedDate ) {
                      $( "#end_date" ).datepicker( "option", "maxDate", selectedDate );
                  }
              });

      })
  </script>
</head>
<body>

    <div id="header">
        <img id="logo" src="https://www.idigbio.org/sites/default/files/idigbio_logo_0.png" alt="iDigBio" border="0">
    </div>

    <div style="padding-top:75px" class="container">

        <div class="title">Map Species Distribution</div>

        <form id="mapping">

        <label>Species</label>
        <input class="input" id='species'>

        <label>Genus </label>
        <input class="input" id='genus'>

        <label>Family</label>
        <input class="input" id= 'family'>

        <label>From:</label>
        <input class="input" id='initial_date'>

        <label>To:</label>
        <input class="input" id="end_date">

        <label>Amount of Years:</label>
        <input class="input" id="years">

        <br>

        <button id="submitbutton" value="submit">Submit</button>
        <br>

        </form>

        <div id="controls"></div>
        <div id="map"></div>
        <div id="legend"></div>


    </div>


</body>
</html>